{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Donate</title>

    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'accounts/css/donate.css' %}">
</head>

<body>
    <!-- NAVBAR -->
<nav class="navbar d-flex justify-content-between align-items-center">

    <div class="logo">AyoDonate</div>

    <div class="nav-right d-flex align-items-center gap-3">

        <div class="nav-menu">
            <a class="nav-link d-inline" href="{% url 'home' %}">Home</a>
            <a class="nav-link d-inline" href="{% url 'donate' %}">Donate</a>
            <a class="nav-link d-inline" href="{% url 'campaign' %}">Campaign</a>
            <a class="nav-link d-inline" href="{% url 'aboutus' %}">About us</a>
            <a class="nav-link d-inline" href="{% url 'donatehistory' %}">Donation History</a>
        </div>

        <a href="/logout/" class="btn btn-logout">Logout</a>

    </div>

</nav>

<!-- TITLE -->
<div class="text-center mt-4">
    <h2 class="title">Donate</h2>
</div>

<!-- GRID SECTION -->
<div class="container mt-4">

    <div class="row g-4 justify-content-center">

        <!-- CARD 1 -->
        <div class="col-md-3">
            <div class="donate-card">
                <img src="https://cdn-icons-png.flaticon.com/512/1040/1040230.png" class="card-img">

                <h4>Campaign</h4>

                <p>
                    Let’s provide assistance to those in need, because together we can bring positive change.
                </p>

                <a href="{% url 'formdonate' %}" class="btn-detail">Detail</a>
            </div>
        </div>

        <!-- CARD 2 -->
        <div class="col-md-3">
            <div class="donate-card">
                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135706.png" class="card-img">

                <h4>General Donation</h4>

                <p>
                    Experience the joy of giving and be part of something bigger.
                </p>

                <a href="#" class="btn-detail">Detail</a>
            </div>
        </div>

        <!-- CARD 3 -->
        <div class="col-md-3">
            <div class="donate-card">
                <img src="https://cdn-icons-png.flaticon.com/512/3209/3209265.png" class="card-img">

                <h4>Charity</h4>

                <p>
                    Make it easier for people to channel their funds to the right place.
                </p>

                <a href="#" class="btn-detail">Detail</a>
            </div>
        </div>

        <!-- CARD 4 -->
        <div class="col-md-3">
            <div class="donate-card">
                <img src="https://cdn-icons-png.flaticon.com/512/2920/2920060.png" class="card-img">

                <h4>Partners</h4>

                <p>
                    Help connect funds to people who need it the most.
                </p>

                <a href="#" class="btn-detail">Detail</a>
            </div>
        </div>

    </div>
</div>

</body>
</html>